.iconAndText {
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между иконкой и текстом */
    width: 100%;
    transition: opacity 0.3s;
    cursor: pointer;
  }
  
  .iconAndText-icon {
    width: 24px;
    height: 24px;
  }
  
  .iconAndText-title {
    font-size: 16pt;
    color: #1a2b3c; /* Основной цвет текста */
    flex: 1; /* Для выравнивания текста */
    margin: 0px;
  }

  .iconAndText-edit {
    background: linear-gradient(to right, #FFA006, #ff6941); /* Градиентный фон */
    -webkit-background-clip: text; /* Применяем фон только к тексту */
    -webkit-text-fill-color: transparent; /* Делаем текст прозрачным, чтобы был виден градиент */
  }
  
  .iconAndText-edit:hover {
    opacity: 0.7;
  }